fastapi==0.115.12
uvicorn[standard]==0.34.3
langchain==0.3.25
langchain-core==0.3.63
langchain-community==0.3.24
langchain-google-genai==2.1.5
langchain-openai==0.3.19
langchain-mongodb==0.5.0
langchain-text-splitters==0.3.8
pymongo==4.12.1
pypdf==5.6.0
docx2txt==0.8
python-dotenv==1.1.0
python-multipart==0.0.20
pydantic==2.11.3
pydantic-settings==2.9.1
python-jose[cryptography]==3.4.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
slowapi==0.1.9
google-auth==2.38.0
requests==2.32.3
